.example-card {
  margin-top: 5px;
  max-width: 400px;
  color: black;
  background-color: whitesmoke;
}

.post-button{
  margin-bottom: 15px !important;
}
.form-container{
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}
.color-span{
  width: 25px;
  height: 16px;
  float: left;
  margin-top: 12px;
}

.cards{
  margin-top: 60px;
}