#btn1.mat-menu-item{
    background-color: #DCE6FF;
    color: rgb(0, 0, 0);
    
}
#btn2.mat-menu-item{
    background-color: #DCFFE7;
    color: rgb(0, 0, 0);
}
#btn3.mat-menu-item{
    background-color: #FEFFDC;
    color: rgb(0, 0, 0);
}
#btn4.mat-menu-item{
    background-color: #FFDCDC;
    color: rgb(0, 0, 0);
}
#btn5.mat-menu-item{
    background-color: #F7DCFF;
    color: rgb(0, 0, 0);
}
#btn6.mat-menu-item{
    background-color: #DCFFFB;
    color: rgb(0, 0, 0);
}

#menubtn.mat-button{
   margin-left: auto;
    
    width: auto;
}





